:global body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(./images/bg.png);
  background: cover;
}

:global .main {
  width: 1200px;
  margin: 0 auto;

  height: 100vh;

  margin-top: 100px;
}

.swal2-container {
  z-index: 3000 !important;
}

:global .button {
  width: 478px;
  height: 60px;
  line-height: 60px;
  background-color: #1b82d1;

  border-radius: 6px;

  font-size: 24px;
  color: #fff;

  cursor: pointer;

  border: none;
}

:global .button:hover {
  background-color: #1b92d1;
}

:global .button:active {
  background-color: #1b72d1;
}

:global * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

:global .swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #1b82d1;
  font-size: 12px;
  border: none;
  text-shadow: none;
}

:global .main-block {
  height: 100%;
  padding-top: 130px;
}

:global .main-pannel {
  width: 478px;
  margin-left: 722px;
}

:global input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

:global input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

:global .pb-container .pb-button {
  height: 60px;
  border: none;
  border-radius: 4px;
  background-color: #0a174c;
}

:global .pb-container .pb-button:hover {
  background-color: #0a174c;
}

:global .pb-container.loading .pb-button:hover {
  background-color: #fff;
}

:global .pb-container .pb-button span {
  font-size: 24px;
  color: #fff;
}

:global .swal-button--cancel {
  color: #fff;
}

:global .bWZsjK {
  font-size: 18px !important;
}
